.projects-select-option {
  $block: &;
  $height: 26px;

  position: relative;
  height: $height;
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  outline: none;

  &_custom-sort {
    text-decoration: underline;
  }

  &_filter-match {
    font-weight: bold;
  }

  &_even {
    background-color: #f9f9f9;
  }

  &_disabled {
    color: #808080;
  }

  &_depth_0 {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image: url('../../../../public/images/exclamation-sign.png');
    background-size: 14px;
  }

  &_depth_1 {
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url('../../../../public/images/folder-open.png');
    background-size: 14px;
  }

  @for $i from 2 through 10 {
    &_depth_#{$i} {
      padding-left: 15px * $i + 5px;
    }
  }

  &:hover {
    $background-color: #e6e6e6;

    background-color: $background-color;

    #{$block}__move {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 0 5px 0 10px;
      background-color: $background-color;
      font-size: 12px;
      font-weight: normal;
      color: #666;
      line-height: $height;
      vertical-align: middle;
      cursor: pointer;

      &:hover {
        color: #333;
      }
    }
  }

  &_selected,
  &_selected:hover {
    $background-color: #438ed7;

    background-color: $background-color;
    color: #fff;

    #{$block}__move {
      color: #e6e6e6;
      background-color: $background-color;

      &:hover {
        color: #f9f9f9;
      }
    }
  }

  &__move {
    display: none;
  }
}
