.projects-select-option {
  font-size: 14px;
  padding: 5px 10px;
  white-space: nowrap;

  &_custom-sort {
    text-decoration: underline;
  }

  &_filter-match {
    font-weight: bold;
  }

  &_even {
    background-color: #f9f9f9;
  }

  &_disabled {
    color: grey;
  }

  &_depth_0 {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image: url('../../../../public/images/exclamation-sign.png');
    background-size: 14px;
  }

  &_depth_1 {
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-image: url('../../../../public/images/folder-open.png');
    background-size: 14px;
  }

  @for $i from 2 through 10 {
    &_depth_#{$i} {
      padding-left: 15px * $i + 5px;
    }
  }

  &_selected {
    background-color: #438ed7;
    color: #fff;
  }
}
