.configure-projects {
  $title-height: 30px;
  $filter-height: 24px;
  $sort-message-height: 20px;
  $padding: 15px;
  $buttons-width: 40px + 2 * $padding;

  height: 100%;

  &__main {
    height: calc(100% - #{$sort-message-height});
    padding-right: $padding;
  }

  &__buttons {
    float: left;
    width: $buttons-width;
    height: 100%;
    padding-top: $title-height;
    text-align: center;
  }

  &__button {
    display: inline-block;
    margin: ($padding / 2) 0;
  }

  &__items-wrapper {
    float: left;
    width: calc((100% - #{2 * $buttons-width}) / 2);
    height: 100%;
  }

  &__items-title {
    height: $title-height;
    padding-top: $padding;
    font-size: 12px;
    color: #737373;
  }

  &__items {
    height: calc(100% - #{$title-height + $padding});
    overflow: auto;
    border: 1px solid #dedede;

    &_with-filter {
      margin-top: 5px;
      height: calc(100% - #{$title-height + $padding + $filter-height + 5px});
    }
  }

  &__filter {
    width: 100%;
    height: $filter-height;
    border: 1px solid #dedede;
    font-size: 14px;
    padding: 0 5px;
  }

  &__sort-message {
    height: $sort-message-height;
    padding: 0 $padding;
    color: #b9b9b9;
    font-size: 12px;
  }
}
