.configure-projects {
  $title-height: 30px;

  height: 100%;

  &__buttons {
    float: left;
    width: 50px;
    height: 100%;

    &_move {
      width: 62px;
    }
  }

  &__items-wrapper {
    float: left;
    width: calc((100% - 50px - 62px) / 2);
    height: 100%;
  }

  &__items-title {
    height: $title-height;
    padding-top: 8px;
    font-size: 12px;
    color: #737373;
  }

  &__items {
    height: calc(100% - #{$title-height} - 12px);
    overflow: auto;
    border: 1px solid #dedede;
  }
}
