.projects-select {
  $max-depth: 10;

  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    font-size: 14px;
    padding: 5px 10px;

    &:nth-child(2n) {
      background-color: #f9f9f9;
    }

    @for $i from 0 through 10 {
      &_depth_#{$i} {
        padding-left: 15px * $i + 5px;
      }
    }
  }
}
